[submodule "Secure-Server-Client-Communication-using-OpenSSL-Mutual-TLS"]
	path = Secure-Server-Client-Communication-using-OpenSSL-Mutual-TLS
	url = https://github.com/ThomasBets/Secure-Server-Client-Communication-using-OpenSSL-Mutual-TLS.git
[submodule "ECDH-RSA-Cryptographic-Methods"]
	path = ECDH-RSA-Cryptographic-Methods
	url = https://github.com/ThomasBets/ECDH-RSA-Cryptographic-Methods.git
[submodule "Access-Control-Logging-System-and-File-Monitoring"]
	path = Access-Control-Logging-System-and-File-Monitoring
	url = https://github.com/ThomasBets/Access-Control-Logging-System-and-File-Monitoring.git
